<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tushar.pgi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pgi_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Dashboard"/>
        <activity android:name=".view.DoctorsListActivity"/>
        <activity android:name=".view.DoctorCategoriesActivity"/>
        <activity android:name=".Adapter.BookAppointmentActivity"/>
        <activity android:name=".view.PatientPrescription"/>
        <activity android:name=".view.BaseActivity">
        </activity>
    </application>

</manifest>